### NextAuthJS

# Create NextAuth secret with: $ openssl rand -base64 32
NEXTAUTH_SECRET="your secret key"

# Google Provider Credentials
GOOGLE_CLIENT_ID="your secret key"
GOOGLE_CLIENT_SECRET="your secret key"

# MongoDB
MONGODB_URI="your secret key"

# Uploadthing
UPLOADTHING_SECRET=... # A secret key for your app (starts with sk_live_)