@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 500;
}

@layer components {
  .responsive {
    @apply w-full;
  }
  .responsive_wrapper {
    @apply w-full max-w-[1148px] mx-auto my-0 px-6;
  }

  .search-bar {
    @apply px-3 py-2 placeholder-slate-2 rounded-xl w-64 bg-gray-0;
  }

  .box-style {
    @apply p-4 rounded-3xl bg-gray-1 overflow-hidden;
  }

  /*** CATEGORY COMPONENT ***/
  .category-cards {
    @apply relative flex justify-center items-center m-2 w-full;
  }
  .category-cards_image {
    @apply object-cover transition ease-in-out duration-700 z-10;
  }
  .category-cards_title {
    @apply absolute text-3xl font-black text-gray-0 text-center drop-shadow-lg transition ease-in-out duration-700 z-10;
  }
  .category-cards_text {
    @apply text-xl font-light text-center transition ease-in-out scale-125 duration-500;
  }

  /*** SPECIFIC STYLE CLASSES ***/
  .popper-active {
    @apply opacity-100 pointer-events-auto -translate-y-2 transition duration-200;
  }

  .popper-inactive {
    @apply opacity-0 pointer-events-none z-10 -translate-y-5 transition duration-200;
  }

  .animated-button {
    @apply transition ease-in-out active:scale-105 focus:outline-none focus:ring duration-200;
  }

  .label-form {
    @apply inline-block mb-2 text-sm font-medium text-gray-900;
  }

  .input-form {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-blue-500 focus:ring-[0.08rem] focus:border-blue-500 block w-full p-2.5;
  }

  .label-file-form {
    @apply flex flex-col gap-2 justify-center items-center w-36 h-36 bg-gray-50 border border-gray-300 text-gray-05 text-sm rounded-lg focus:outline-none p-2.5 cursor-pointer;
  }

  .label-file-preview-form {
    @apply absolute inset-0 flex justify-center items-center w-[120px] h-[120px] m-[11.5px] text-gray-3 text-2xl object-cover opacity-0 rounded-sm transition duration-200 cursor-pointer;
  }

  .errorText-form {
    @apply mt-1 text-xs font-medium text-red-500;
  }

  .required-input-form {
    @apply ml-1 text-lg font-bold text-red-500;
  }
}

/*** OVERWRITING ANT DESIGN STYLE CLASSES ***/
.ant-select-show-search {
  width: -webkit-fill-available !important;
  min-width: 200px !important;
}

.ant-cascader {
  width: -webkit-fill-available !important;
  min-width: 200px !important;
}

.ant-btn-primary {
  background-color: #1677ff !important;
}

.anticon-exclamation-circle {
  height: 14px !important;
  width: 14px !important;
}

.ant-popconfirm-description {
  font-weight: 400 !important;
}

.ant-breadcrumb-overlay-link {
  display: flex !important;
  align-items: center;
  color: rgba(0, 0, 0, 0.45) !important;
}
